$primary-color: #9942a4;

.progress-holder {
  position: fixed;
  width: 400px;
  background: white;
  box-shadow: 0px 0px 20px #3636364a;
  // height: 200px;
  top: 50%;
  left: 50%;
  z-index: 100;
  // right: 0;
  // top: 60px;
  padding: 20px 20px;
  transform: translateY(-50%) translateX(calc(-50% + 140px));
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .progress {
    height: 20px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
  }

  .progress-bar {
    height: 100%;
    background-color: $primary-color;
    border-radius: 4px;
    width: 0%;
    transition: width 0.3s ease-in-out;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    line-height: 20px;
  }
}

.active-progress {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
